extends layout

block content
    div(class="route-list")
        h1=`${route.name}`
            each routepark in routesParks
                div(class="routes-parks")
                    a(href=`/parks/${routepark.id}`)
                        img(src=`/img/park-${routepark.id}.png` alt=`${routepark.name}`)
                    p #{routepark.name}
                    p #{routepark.id}
                    a(href=`/routepark/${routepark.id}/delete` class="remove-button-a") REMOVE
