extends layout

block content
  div.park-full
    div(class="park-image")
      img(src=`/img/park-${park.id}.png` alt=`${park.name}` class=`park-image-${park.id}`)
    div(class="park-details")
      div.park-header
        h1 #{park.name} National Park
        h3 #{state}, USA
      p= park.description
    div.visited
    include rates.pug
    div.reviews
      h2 Reviews
      ul
        each review in reviews
          li #{review.user.username} said:
            p #{review.text}
