extends layout

block content
    div.search-container
        h1= title
        if (!parks && !states)
            p We couldn't find anything
        else
            if (states)
                h2 States:
                div.states-list
                    each state in states
                        a(href=`/search/state/${state.id}`) #{state.name}
            if (parks)
                h2 Parks:
                div.park-list
                    each park in parks
                        div(id=`park-${park.id}` class='park-list-item')
                            a(href=`/parks/${park.id}`)
                                img(src=`/img/park-${park.id}.png` alt=`${park.name}` class=`park-image-${park.id}`)
