div.stars
    a(href=(user?`/visited/${park.id}/rate/1?visited=${isMyRoutePage?true:false}`:false)): span(class="fa fa-star star-1")
    a(href=(user?`/visited/${park.id}/rate/2?visited=${isMyRoutePage?true:false}`:false)): span(class="fa fa-star star-2")
    a(href=(user?`/visited/${park.id}/rate/3?visited=${isMyRoutePage?true:false}`:false)): span(class="fa fa-star star-3")
    a(href=(user?`/visited/${park.id}/rate/4?visited=${isMyRoutePage?true:false}`:false)): span(class="fa fa-star star-4")
    a(href=(user?`/visited/${park.id}/rate/5?visited=${isMyRoutePage?true:false}`:false)): span(class="fa fa-star star-5")
