ul.visited-list
    h1="VISITED PARKS"
    each park in parks
        div(id=`park-${park.id}` class='visited-list-item')
            a(href=`/parks/${park.id}`)
                img(src=`./img/park-${park.id}.png` alt=`${park.name}` class=`park-image-${park.id}`)
            p #{park.name}
            div.visited-list-rating(class=park.Visited.rate?`star-rate-${park.Visited.rate}`:false)
                include stars.pug
            .remove-button(id=`remove-${park.id}`)
                a REMOVE
